.nav-bar-container {
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff; // Dark background color of the navbar
    backdrop-filter: blur(5px); //change blur here
    padding: 1rem 0;
    // position: fixed;
    top: 0;
    width: 100%;
    // height: 15%;
    // z-index: 2;

    .nav {
      .nav-logo {
        width: 120px; // Adjust logo size as needed
        height: 120px; // Adjust logo size as needed
        margin-right: 50px; // Margin between logo and text
        margin-bottom: 0;
        margin-left: 20px;
      }
    }

    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 10px;
      margin-right: 0;
      width: 100%;

      .top-bar-nav {
        align-items: center;
        .nav-link,
        .nav-dropdown {
          color: #000;
        }

        .link {
          color: black;
          text-decoration: none;
          margin: 0 1rem;
          // font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }

        .nav-dropdown {
          color: #000;

          .dropdown-menu {
            background-color: #fff; // Background color of dropdown menu
            border: none;
            border-radius: 1;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); // Optional: Add shadow for depth

            .dropdown-item {
              padding: 0.75rem 1.25rem;
              font-weight: normal;
              // transition: background-color 0.3s ease;

              &:hover {
                background-color: #fff; // Hover background color
                text-decoration: none;
              }

              a {
                color: #000;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.language-toggle-btn {
  // background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  // margin-left: auto; // Align the button to the right
  transition: background-color 0.3s ease;
}

.language-toggle-btn:hover {
  // background-color: #0056b3;
}

@media (max-width: 768px) {
  //Responsive for mobile use NOT READY
  .nav-bar-container {
    .container {
      flex-direction: column;
      align-items: flex-start;

      .top-bar-nav {
        flex-direction: column;
        width: 100%;

        .nav-link,
        .nav-dropdown {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

/* Add padding to the body to offset content under fixed navbar */
body {
  padding-top: 80px; // Adjust according to navbar height
}

// .navbar-brand {
//   display: flex;
//   font-family: Helvetica-Nue;
//   color: #ffffff ;
//   // margin-bottom: 5px;
// }
